<button type="button" class="btn btn-success">
    Vagas disponíveis <span class="badge badge-light">{{vagasDisponiveis}}</span>
</button>

<table class="table table-striped">

    <tr>
        <td *ngFor="let carSpace of carSpaces">
            <button type="button" class="btn btn-success" *ngIf="!carSpace.isBusy" (click)="parkCar($event, carSpace)">
                Disponível <span class="badge badge-light">{{carSpace.position}}</span>
            </button>
            <button type="button" class="btn btn-danger" *ngIf="carSpace.isBusy" (click)="unparkCar($event, carSpace)">
                Ocupada <span class="badge badge-light">{{carSpace.position}}</span>
            </button>
        </td>
    </tr>

</table>